<div class="clearfix"
     *ngIf="state">
    <img class="img-responsive album-art pull-left"
         [src]="state.item?.album.images[0].url"
         width="300px" />
    <dl *ngIf="state"
        class="dl-horizontal info-small pull-left">

        <dd *ngIf="state.is_playing"
            class="info-large"> Now Playing
            <i class="glyphicon glyphicon-play"></i>
        </dd>

        <dd *ngIf="!state.is_playing"
            class="info-large"> Paused
            <i class="glyphicon glyphicon-pause"></i>
        </dd>

        <dt>Track</dt>
        <dd>{{ state.item?.name }}</dd>

        <dt>Album</dt>
        <dd>{{ state.item?.album.name }}</dd>

        <dt>Artist</dt>
        <dd>{{ state.item?.album.artists[0]?.name }}</dd>

    </dl>

</div>

<pre *ngIf="state">{{ state | json:2 }}</pre>
<pre *ngIf="!state">Not Connected</pre>