<div class= "clearfix"*ngIf="state">
    <img class="img-responsive"
         [src]="state.item?.album.images[0].url"
         width="300px"
         style="float: left; padding-right: 15px" />
    <dl *ngIf="state"
        class="dl-horizontal"
        style="float: left; color: white; font-size: 16px">
        
        <dd style="color: white; font-size: 1.5em"*ngIf="state.is_playing"> Now Playing
            <i class="glyphicon glyphicon-play"></i>
            
        </dd>
        <dd style="color: white; font-size: 1.5em"*ngIf="!state.is_playing"> Paused
            <i class="glyphicon glyphicon-pause"></i>
        </dd>
        <dt>Track</dt>
        <dd>{{ state.item?.name }}</dd>

        <dt>Album</dt>
        <dd>{{ state.item?.album.name }}</dd>

        <dt>Artist</dt>
        <dd>{{ state.item?.album.artists[0]?.name }}</dd>

    </dl>

</div>

<pre *ngIf="state">{{ state | json:2 }}</pre>
<pre *ngIf="!state">Not Connected</pre>